<!-- ******************************* -->

<div class="character-page-container">
  <!-- ******************************* -->
  <!-- ******************************* -->

  <div>
    <p>
      {{ this.currentIndex + 1 }} -
      <span *ngIf="!truncateResult">{{ this.endIndex }}</span>
      <span *ngIf="truncateResult">{{ this.totalCharacters }}</span>
      of {{ this.totalCharacters }} characters with "{{ gender }}" gender
    </p>
  </div>

  <!-- ******************************* -->
  <!-- ******************************* -->

  <div class="cards-container">
    <ng-container *ngFor="let character of charactersPerPage">
      <app-character-card
        [imageUrl]="character.image"
        [characterName]="character.name"
        [characterGender]="character.gender"
        [characterId]="character.id"
      />
    </ng-container>
  </div>

  <!-- ******************************* -->
  <!-- ******************************* -->

  <div class="buttons-center-grid">
    <div class="buttons-container">
      <p-button
        label="Anterior"
        icon="pi pi-arrow-left"
        (click)="onLoadPreviousCharacters()"
        [disabled]="isPreviousCharactersButtonDisabled"
      />

      <!--  -->

      <p-button
        label="Siguiente"
        icon="pi pi-arrow-right"
        (click)="onLoadNextCharacters()"
        [disabled]="isNextCharactersButtonDisabled"
      />
    </div>
  </div>

  <!-- ******************************* -->
  <!-- ******************************* -->
</div>
