/* ******************************* */
/* ******************************* */

.character-page-container{
  padding: 80px 20px 20px 20px;

  display: grid;
  place-content: center;
  gap: 20px;
}

/* ******************************* */
/* ******************************* */

.cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* ******************************* */
/* ******************************* */

.buttons-center-grid{
  display: grid;
  place-items: center;
  margin-top: 40px;
}

/* ******************************* */
/* ******************************* */

.buttons-container{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 36px;
}

/* ******************************* */
/* ******************************* */
